* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black:#141414;
    --red: #bb0505;
    --white: rgb(233, 223, 223)

}

body {
    background: var(--black) ;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

header .container {
    display: flex;
    
    align-items: center;
    justify-content: space-between;

}

header .logo {
    margin-left: 5px;
    color: var(--red);
    font-family: 'Arial Black', Times;
    font-size: 40px
}

header nav a {
    text-decoration: none;
    color: var(--white);
    margin-right: 10px;

    
    
}

header nav a:hover {
    color: #fff;
}

/* main film*/

main .main-chapter {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)) ,url('../img/kingdom-cart.jpg');

    height: 600px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

main .main-chapter .description {
    margin-bottom: 60px;
    width: 450px;
}

main .main-chapter .title {
    font-size: 40px;
}